html{
  color:hsl(0, 100%, 0%);
  background-color:hsl(280, 100%, 50%);
  text-align:center;
  font-family:fantasy;
}
b{
  font-size:80px;
}
button{
  font-size:60px;
  color:hsl(0, 0%, 100%);
  background-color:hsl(0, 100%, 0%);
  border-radius:5px;
  border-color:hsl(0, 0%, 100%);
}
script{
  font-size:40px;
  color:hsl(0, 100%, 0%);
}
